*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

.btn,
.contact_button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  transition: all 300ms;
  cursor: pointer;
}
.btn:hover,
.contact_button:hover {
  background-color: #db8876;
  color: black;
}
.btn:focus,
.contact_button:focus {
  background-color: #db8876;
  color: black;
}

.modal__img {
  position: absolute;
  background-color: unset;
  border: none;
  top: 44px;
  right: 30px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.total-and-price {
  position: fixed;
  bottom: 0;
  right: 8vw;
  transform: translate(0, 0);
  color: black;
  width: 380px;
  height: 70px;
  font-weight: 600;
  background-color: #d3573c;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 70px;
}
.total-and-price__likes {
  margin: 0 5px 0 30px;
}
.total-and-price__price {
  margin-right: 34px;
  float: right;
}
.total-and-price__heart {
  font-size: 1.3rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 40px 100px 100px;
}
.header.header-photographer {
  margin-bottom: 25px;
}
.header h1 {
  color: #901c1c;
  font-size: 2.25rem;
  font-weight: 400;
}
.header .logo {
  height: 50px;
}

.modal__header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal__h2 {
  font-size: 3rem;
  font-weight: normal;
}

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    margin-top: 50px;
  }
  .logo {
    margin-bottom: 20px;
  }
}
.background-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal {
  position: relative;
  border-radius: 5px;
  background-color: #d3573c;
  width: clamp(450px, 50%, 600px);
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 40px auto;
  animation: modalopen 350ms;
}
.modal__input-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__form label {
  font-size: 2rem;
}
.modal__form input {
  height: 55px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  padding-left: 5px;
}
.modal__form textarea {
  font-size: 1.4rem;
  height: 170px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 5px;
}
.modal__form input[type=submit] {
  font-size: 1.2rem;
}

.no-scroll {
  overflow: hidden;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.background-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.lightbox__card {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}
.lightbox__slideshow {
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
}
.lightbox__prev-wrapper {
  width: 96px;
}
.lightbox__prev {
  transform: rotate(0.5turn);
  cursor: pointer;
  order: 1;
}
.lightbox__next {
  cursor: pointer;
  order: 3;
}
.lightbox__media-wrapper {
  box-shadow: 2px 2px 20px -7px #000000;
  width: clamp(150px, 70vw, 1000px);
  height: clamp(160px, 50vw, 800px);
  order: 2;
}
.lightbox__media-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.lightbox__media-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.lightbox__title {
  margin: 20px auto;
  width: clamp(150px, 70vw, 1000px);
  color: #901c1c;
}
.lightbox__close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card__img-wrapper {
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.3);
}
.card__h2 {
  color: #d3573c;
  font-size: 2.25rem;
  font-weight: 400;
}
.card__location {
  margin-bottom: 5px;
  color: #901c1c;
  font-size: 0.813rem;
  font-style: normal;
}
.card__tagline {
  color: #000;
  margin-bottom: 5px;
  font-size: 0.625rem;
}
.card__price {
  color: #757575;
  font-size: 0.625rem;
}
.card__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  padding: 0 100px;
  position: relative;
}

.photographer {
  background-color: #fafafa;
  height: 300px;
  margin: 0 0 30px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer__info {
  width: 33%;
}
.photographer__name {
  color: #d3573c;
  font-size: 4rem;
}
.photographer__location {
  color: #901c1c;
  font-size: 1.5rem;
}
.photographer__tagline {
  color: #525252;
  font-size: 1.125rem;
}
.photographer__btn-wrapper {
  text-align: center;
  width: 33%;
}
.photographer__img-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.photographer__img-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer__img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  object-fit: cover;
}

.media {
  max-width: 1440px;
  margin: 0 auto;
  color: #901c1c;
}
.media form {
  margin-bottom: 58px;
  font-size: 1.125rem;
  font-weight: 700;
}
.media form label {
  margin-right: 30px;
}
.media form select {
  font-size: 1.625rem;
}
.media__article {
  width: 350px;
}
.media__article:nth-child(3n+2) {
  justify-self: center;
}
.media__article:nth-child(3n+3) {
  justify-self: end;
}
.media__cards-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1330px) {
  .media__cards-container {
    justify-content: center;
  }
}
.media__wrapper {
  width: 350px;
  height: 300px;
  position: relative;
}
.media__wrapper:has(video)::after {
  fill: #901c1c;
  position: absolute;
  content: url(/assets/icons/play-button.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.media__info {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}
.media__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}
.media__likes {
  width: 80px;
  text-align: end;
}
.media__likes-number {
  display: inline-block;
  margin-right: 3px;
  padding-top: 7px;
}
.media__heart {
  color: #db8876;
  font-size: 1.125rem;
  transition: all 250ms;
}
.media__heart--isLiked {
  transform: scale(1.2);
  color: #901c1c;
}

/*# sourceMappingURL=style.css.map */
