*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 40px 100px 100px;
}

h1 {
  color: #901c1c;
  font-size: 36px;
  font-weight: 400;
}

.logo {
  height: 50px;
}

@media screen and (max-width: 850px) {
  header {
    flex-direction: column;
    margin-top: 50px;
  }
  .logo {
    margin-bottom: 20px;
  }
}
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card__img-wrapper {
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.3);
}
.card__h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
}
.card__location {
  margin-bottom: 5px;
  color: #901c1c;
  font-size: 13px;
  font-style: normal;
}
.card__tagline {
  color: #000;
  margin-bottom: 5px;
  font-size: 10px;
}
.card__price {
  color: #757575;
  font-size: 10px;
}
.card__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#contact_modal {
  display: none;
}

button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photographer {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px 30px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer__info {
  width: 33%;
}
.photographer__name {
  color: #d3573c;
  font-size: 64px;
}
.photographer__location {
  color: #901c1c;
  font-size: 24px;
}
.photographer__tagline {
  color: #525252;
  font-size: 18px;
}
.photographer__btn-wrapper {
  text-align: center;
  width: 33%;
}
.photographer__img-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.photographer__img-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer__img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  object-fit: cover;
}

.media {
  max-width: 1240px;
  margin: 0 auto;
}
.media form {
  margin-bottom: 58px;
  font-size: 18px;
  font-weight: 700;
}
.media form label {
  margin-right: 30px;
}
.media form select {
  font-size: 26px;
}
.media article {
  width: 350px;
}
.media__cards-container {
  display: grid;
  justify-content: space-around;
  align-items: flex-end;
  grid-template-columns: 1fr 1fr 1fr;
}
.media__wrapper {
  width: 100%;
  height: 300px;
}
.media img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.media video::after {
  content: "";
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
