.btn,
.contact_button {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;
  transition: all 300ms;
  &:hover {
    @include overEffet;
  }
  &:focus {
    @include overEffet;
  }
}
.modal__close-btn {
  position: absolute;
  background-color: unset;
  border: none;
  top: 44px;
  right: 30px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.lightbox__btn {
  z-index: 1;
  cursor: pointer;
  background-color: white;
  border: none;
}
.media__sorter-btn {
  text-align: left;
  padding-left: 20px;
  font-size: 1.125rem;
}
@media screen and (max-width: 1150px) {
  .btn,
  .contact_button {
    font-size: 1rem;
    width: 150px;
    height: 50px;
  }
}
@media screen and (max-width: 800px) {
  .modal__img {
    width: 100%;
    height: 100%;
  }

  .modal__close-btn {
    right: 20px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  .btn,
  .contact_button {
    font-size: 0.9rem;
  }
}
