.main__accueil {
  padding: 0 100px;
  @media screen and (max-width: 850px) {
    padding: 0 10px;
  }
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  @media screen and (max-width: 850px) {
    gap: 60px 20px;
  }
}

.photographer_section article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card {
  &__img-wrapper {
    margin: 0 auto 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img {
    overflow-clip-margin: unset;
    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: scale(1.3);
  }
  &__h2 {
    color: $color-secondary;
    font-size: clamp(1.7rem, 2.6vw, 2.25rem);
    font-weight: 400;
  }

  &__location {
    margin-bottom: 5px;
    color: $color-primary;

    font-size: 0.813rem;
    font-style: normal;
  }
  &__tagline {
    color: #000;
    margin-bottom: 5px;
     font-size: 0.625rem;
  }
  &__price {
    color: #757575;
    font-size: 0.625rem;
  }
  &__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
