main {
  padding: 0 100px;
  position: relative;
}
.photographer {
  background-color: #fafafa;
  height: 300px;
  margin: 0 0 30px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    width: 33%;
  }
  &__name {
    color: #d3573c;
    font-size: 4rem;
  }
  &__location {
    color: $color-primary;

    font-size: 1.5rem;
  }
  &__tagline {
    color: $color-Quaternary;

    font-size: 1.125rem;
  }
  &__btn-wrapper {
    text-align: center;
    width: 33%;
  }
  &__img-container {
    width: 33%;
    display: flex;
    justify-content: flex-end;
  }
  &__img-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    transform: scale(1.4);

    object-fit: cover;
  }
}

.media {
  max-width: 1440px;
  margin: 0 auto;
  color: $color-primary;
  form {
    margin-bottom: 58px;
    font-size: 1.125rem;
    font-weight: 700;
    label {
      margin-right: 30px;
    }
    select {
      font-size: 1.625rem;
    }
  }
  article {
    width: 350px;
  }
  &__cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 1330px) {
      justify-content: center;
      gap: 30px 50px;
    }
  }
  &__wrapper {
    width: 350px;
    height: 300px;
    position: relative;
    &:has(video)::after {
      fill: $color-primary;

      position: absolute;

      content: url(/assets/images/play-button.svg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  img {
    display: block;
    border-radius: 5px;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;

    justify-content: space-between;
    padding: 6px 0;
  }

  &__title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
  }
  &__likes {
    min-width: 60px;
    text-align: end;
  }
  &__likes-number {
    display: inline-block;
    margin-right: 3px;
    padding-top: 7px;
  }
  &__heart {
    font-size: 1.125rem;
  }
}
